<div class="container">

<div class="row">
    <h5 class="other_guy">Chat with <%= @chat_room.chat_display_name(current_user) %></h5>


  <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
    <%= render @chat_room.messages %>
  </div>

  <%= form_for @message, url: '#' do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: 'form-control' %>
      <small class="text-muted">From 2 to 1000 characters</small>
    </div>
    <%= hidden_field_tag :current_user_id, current_user.id %>
    <%= f.submit "Send", class: 'btn btn-primary btn-lg blue darken-4' %>
  <% end %>
</div>
</div>
