
  <div id="profile-page-header" class="card row">
    <!-- background image -->
    <div id="profile-header-image" class="card-image">
      <img src="assets/milky_way.jpg">
      <!-- profile title -->
      <span id="profile-title" class="right white-text"> <%= @user.name %> </span>
      <!-- gravatar profile image -->
      <a href="https://gravatar.com/">
      <%= link_to gravatar_for @user, :size => "300", :class => "btn-floating, btn-large, halfway-fab", :id => "profile-image" %>
      </a>
    </div> <!-- end background image -->

    <!-- profile card content -->
    <div id="profile-content" class="card-content s12 center">
      <div class="row">
        <div id="property-count" class="stats col s4"> <%= link_to "Properties #{@user.properties.count}", properties_path %>
        </div>
        <div id="messages-count" class="stats col s4">
          <%= link_to "Messages #{@user.messages.count}", chat_rooms_path %>
        </div>
        <div id="favorites-count" class="stats col s4">
           <%= link_to "Favorites #{@user.favorites.count}", my_favorites_path  %>
        </div>
      </div>
    </div>

      <!-- login items -->

      <div id="login" class="row center s12">
        <div class="col s6 left-align profile">
          <div class="row profile">
            <%= render 'users/login_items' %>
          </div>
          <div class="row profile">
            <%= link_to "Edit Profile", edit_user_registration_path %>
          </div>
        </div> <!-- End left column -->
        <div class="col s6 right-align profile">
          <div class="row profile">
            <%= link_to "My Properties", properties_path %>
          </div>
          <div class="row profile">
            <a href="//www.iubenda.com/privacy-policy/46565296" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
          </div>
        </div> <!-- End right column -->
      </div>
    </div><!-- End profile card content -->
  </div>


<!-- User image feed -->
<div id="profile-page-content">
  <% if @users_pictures.count != 0 %>
  <div class="row">

    <!-- grid full width -->
    <div class="grid-example col s12">
      <div class="row" id="feed-row">
        <div class="col s12" id="feed-div">

          <!-- Pulls the profiles photos -->
          <%= render @users_pictures %>
          <% else %> <!-- if no uploads -->
            <div class="container center first-upload">
              <%= link_to "Click here to upload your first photo!", upload_path %>
            </div>
          <% end %>
        </div>

        <!-- pull new photos on scroll -->
        <div id="infinite-scrolling">
          <%= will_paginate @users_pictures%>
        </div>
      </div>
    </div>
  </div>
</div>
