<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<div class="col s12 l6 xl4">
  <div class="card hoverable">
    <div class="card-image">

      <!-- card HEADER -->
      <div class="row center card-header-content">

        <!-- message owner -->
        <div class="card-header-content stats col s1 right chat">
          <% if current_user %>
            <%= link_to join_chat_path(title: "#{current_user.id}-#{picture.id}-chat", pic_owner_id: picture.user_id) do %>
            <i class="fas fa-comments"></i>
          <% end %>
            <% else %>
              <%= link_to new_user_session_path, remote: true do %>
              <i class="fas fa-comments auth"></i>
            <% end %>
          <% end %>
        </div>
        <!-- end message owner -->

        <!-- Picture Owner -->
        <div id="" class="card-header-content stats col s7 poster-name right">
          <%= render partial: 'pictures/pic_owner', locals: {picture: picture} %>
        </div>

        <!-- Schedule a visit -->
        <% if current_user %>
        <div class="calendar card-header-content stats col s4">
          Drop By!
          <i class="fas fa-calendar-alt datepicker"></i>
          <!-- <input type="date" class="datepicker"> -->
        </div>
        <% else %>
        <div id="cal" class="calendar card-header-content stats col s4">
          <i class="fas fa-calendar-alt auth"></i> Drop By!
        </div>
        <% end %>
      </div> <!-- end row -->
      <!-- end card HEADER -->

      <!-- get image -->
      <%= link_to image_tag(picture.attachment.url(:medium), class: 'feed-responsive-img'), "/pictures/#{picture.id}" %>
      <!-- end image -->

      <!-- favorite button -->
      <%= div_for picture do %>
      <%= render partial: "favorites/button2", locals: { picture: picture } %>
      <% end %>
      <!-- end favorite button -->

    </div> <!-- end card-image -->
    <div class="card-content card-bottom">
      <%= render partial: "pictures/stats", locals: {picture: picture} %>
      <div class="left-align picture-caption">
        <%= picture.caption%>
      </div>

      <%= render partial: "pictures/tag_chips", locals: {picture: picture} %><br>
      <!-- Time since post -->
      <div id="posted-time" class="card-header-content stats col s3">
        Posted <%= time_ago_in_words(picture.created_at) %> ago
      </div>
    </div>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <%= render partial: "pictures/calendar_modal" %>
  </div>
</div>
