<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<div class="col s12 m6 l4 xl3">
  <div class="card hoverable">
    <div class="card-image">

      <!-- card HEADER -->
      <div class="row center card-header-content">
        <!-- Picture Owner -->
        <div id="" class="card-header-content stats col s3">
          <%= render partial: 'pictures/pic_owner', locals: {picture: picture} %>
        </div>

        <!-- Time since post -->
        <div id="" class="card-header-content stats col s3">
          pasted 1 hour ago
        </div>

        <!-- message owner -->
        <div class="card-header-content stats col s3">
          <% if current_user %>
            <%= link_to join_chat_path(title: "#{current_user.id}-#{picture.id}-chat", pic_owner_id: picture.user_id) do %>
            <i class="fas fa-comments"></i>
          <% end %>
            <% else %>
              <%= link_to new_user_session_path, remote: true do %>
              <i class="fas fa-comments"></i>
            <% end %>
          <% end %>
        </div>
        <!-- end message owner -->

        <!-- Schedule a visit -->
        <div id="" class="card-header-content stats col s3">
          <i class="fas fa-calendar-alt"></i> Drop By!
        </div>
      </div> <!-- end row -->
      <!-- end card HEADER -->

      <!-- get image -->
      <%= link_to image_tag(picture.attachment.url(:medium), class: 'feed-responsive-img'), "/pictures/#{picture.id}" %>
      <!-- end image -->

      <!-- favorite button -->
      <%= div_for picture do %>
      <%= render partial: "favorites/button2", locals: { picture: picture } %>
      <% end %>
      <!-- end favorite button -->

    </div> <!-- end card-image -->
    <div class="card-content card-bottom">
      <%= render partial: "pictures/stats" %>
      <%= render partial: "pictures/tag_chips", locals: {picture: picture} %><br>
      <p><%=picture.caption%></p>
    </div>
  </div>
</div>
