<div class="picture-block">
  <%= render @picture %>
</div>

<div class="comment-block container">
  <% @picture.comments.each do |c| %>
  <div class="comment">

    <div class="row bold">
      <div class="name col s6">
        <%= c.user.name %>
      </div>
    </div>

    <div class="row">
      <div class="comment-body col s9">
        <%= c.body %>
      </div>
    </div>
  </div>


  <div class="time">
    at <%= c.created_at.strftime('%x') %>
  </div>

  <% end %>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
</div>

<!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1"></a> -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= render template: 'users/sessions/new.html.erb' %>
    </div>
  </div>
