<div class="picture-block">
  <%= render @picture %>
  <%= render partial: "pictures/share" %>
</div>
<div class="property-link row">
  <div class="col s12 center-align">    
  <% if @picture.property %>
    <%= link_to "See more of this property!", @picture.property %>
  <% end %>
  </div>
</div>
<div class="comment-block">
  <% @picture.comments.each do |c| %>
  <p>
    <%= c.body %> <br>
    <%= c.user.name %> at <%= c.created_at.strftime('%x') %>
  </p>
  <% end %>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
</div>

<!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1"></a> -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= render template: 'users/sessions/new.html.erb' %>
    </div>
  </div>
