<!-- <p id="notice"><%= notice %></p> -->
<!-- <%= image_tag @picture.attachment.url, class:"responsive-img"  %> -->
<div class="picture-block">
  <%= render @picture %>
</div>
<div class="comment-block">
  <% @picture.comments.each do |c| %>
  <p>
    <%= c.body %> <br>
    <%= c.user.name %> at <%= c.created_at.strftime('%x') %>
  </p>
  <% end %>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
</div>
