<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<!-- Tablet and smaller -->
<div class="row-footer row hide-on-large-only">
  <div class="center">
    <!-- Home -->
    <!-- Do not refactor the home icon to include the footer icon partial! We do not want auth on this. -->
    <%= link_to feed_path, class: "margin-footer transparent btn-floating waves-effect waves-light hoverable z-depth-0 heart", id: "icon-home" do %>
      <i class="fas fa-home"></i>
      <% end %>

    <!-- Favorites -->
    <span id="icon-favorites">
      <%= render partial: 'footer_icons', locals: { path: my_favorites_path, icon: "fas fa-heart" } %>
    </span>


    <!-- Upload -->
    <span id="icon-upload">
      <%= render partial: 'footer_icons', locals: { path: upload_path, icon: "fas fa-plus-circle" } %>
    </span>

    <!-- Message -->
    <% if current_user %>
    <% unless current_user.find_unread_messages.empty? %>
    <span id="icon-message" class="red-text">
      <%= render partial: 'footer_icons', locals: { path: chat_rooms_path, icon: "fas fa-envelope red-text" } %>
    </span>
    <% else %>
    <span id="icon-message">
      <%= render partial: 'footer_icons', locals: { path: chat_rooms_path, icon: "fas fa-envelope" } %>
    </span>
    <% end %>
    <% else %>
    <span id="icon-message">
      <%= render partial: 'footer_icons', locals: { path: chat_rooms_path, icon: "fas fa-envelope" } %>
    </span>
    <% end %>

    <!-- Profile -->
    <span id="icon-profile">
      <%= render partial: 'footer_icons', locals: { path: profile_path, icon: "fas fa-user" } %>
    </span>
    </div>
  </div>
</div>

<!-- Desktop -->
<div id="desktop-icons" class="row center hide-on-med-and-down">
  <div class="center">
    <!-- Home -->
    <span id="icon-home-desktop">
      <%= render partial: 'footer_icons', locals: { path: feed_path, icon: "fas fa-home" } %> Home
    </span>

    <!-- Favorites -->
    <span id="icon-favorites-desktop">
      <%= render partial: 'footer_icons', locals: { path: my_favorites_path, icon: "fas fa-heart" } %> Favorites
    </span>

    <!-- Upload -->
    <span id="icon-upload-desktop">
      <%= render partial: 'footer_icons', locals: { path: upload_path, icon: "fas fa-plus-circle" } %> Upload
    </span>

    <% if current_user %>
    <% unless current_user.find_unread_messages.empty? %>
    <span id="icon-message-desktop" class="red-text">
      <%= render partial: 'footer_icons', locals: { path: chat_rooms_path, icon: "fas fa-envelope red-text" } %> Messages
    </span>
    <% else %>
    <span id="icon-message-desktop">
      <%= render partial: 'footer_icons', locals: { path: chat_rooms_path, icon: "fas fa-envelope" } %> Messages
    </span>
    <% end %>
    <% else %>
    <span id="icon-message-desktop">
      <%= render partial: 'footer_icons', locals: { path: chat_rooms_path, icon: "fas fa-envelope" } %> Messages
    </span>
    <% end %>
    <!-- Profile -->
    <span id="icon-profile-desktop">
      <%= render partial: 'footer_icons', locals: { path: profile_path, icon: "fas fa-user" } %> My Profile
    </span>
  </div>
</div>
