<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<!-- Tablet and smaller -->
<div class="row-footer row hide-on-large-only">
  <div class="center">
    <!-- Home -->
    <a id="icon-home" class="margin-footer transparent btn-floating waves-effect waves-light hoverable z-depth-0" href=" <%= feed_path %> ">
      <i class="fas fa-home"></i>
    </a>

    <!-- Favorites -->
    <a id="icon-favorites" class="margin-footer transparent btn-floating waves-effect waves-light hoverable z-depth-0" href="<%= my_favorites_path %>">
      <i class="fas fa-heart"></i>
    </a>

    <!-- Upload -->
    <a id="icon-upload" class="margin-footer transparent btn-floating waves-effect waves-light hoverable z-depth-0" href="/upload">
      <i class="fas fa-plus-circle"></i>
    </a>

    <!-- Message -->
    <% if current_user %>
    <% unless current_user.find_unread_messages.empty? %>
    <a id="icon-message" class="margin-footer transparent btn-floating waves-effect waves-light hoverable z-depth-0" href="<%= chat_rooms_path %>">
      <i class="fas fa-envelope red-text"></i>
    </a>
    <% else %>
    <a id="icon-message" class="margin-footer transparent btn-floating waves-effect waves-light hoverable z-depth-0" href="<%= chat_rooms_path %>">
      <i class="fas fa-envelope"></i>
    </a>
    <% end %>
    <% else %>
    <a id="icon-message" class="margin-footer transparent btn-floating waves-effect waves-light hoverable z-depth-0" href="<%= chat_rooms_path %>">
      <i class="fas fa-envelope"></i>
    </a>
    <% end %>

    <!-- Profile -->
    <a id="icon-profile" class="margin-footer transparent btn-floating waves-effect waves-light hoverable z-depth-0" href=" <%= new_user_session_path %> ">
      <i class="fas fa-user"></i></a>
    </div>
  </div>
</div>

<!-- Desktop -->
<div class="row center hide-on-med-and-down">
  <div class="center">
    <!-- Home -->
    <a id="icon-home-desktop" class="margin-footer transparent btn-large waves-effect waves-light hoverable z-depth-0" href=" <%= feed_path %> ">
      <i class="fas fa-home"></i>
      Home
    </a>

    <!-- Favorites -->
    <a id="icon-favorites-desktop" class="margin-footer transparent btn-large waves-effect waves-light hoverable z-depth-0" href="<%= my_favorites_path %>">
      <i class="fas fa-heart"></i>
      Favorites
    </a>

    <!-- Upload -->
    <a id="icon-upload-desktop" class="margin-footer transparent btn-large waves-effect waves-light hoverable z-depth-0" href="/upload">
      <i class="fas fa-plus-circle"></i>
      Upload
    </a>

    <% if current_user %>
    <% unless current_user.find_unread_messages.empty? %>
    <a id="icon-message" class="margin-footer transparent btn-large waves-effect waves-light hoverable z-depth-0" href="<%= chat_rooms_path %>">
      <i class="fas fa-envelope red-text"> </i> Messages
    </a>
    <% else %>
    <a id="icon-message" class="margin-footer transparent btn-large waves-effect waves-light hoverable z-depth-0" href="<%= chat_rooms_path %>">
      <i class="fas fa-envelope"> </i> Messages
    </a>
    <% end %>
    <% else %>
    <a id="icon-message" class="margin-footer transparent btn-large waves-effect waves-light hoverable z-depth-0" href="<%= chat_rooms_path %>">
      <i class="fas fa-envelope"></i> Messages
    </a>
    <% end %>
    <!-- Profile -->
    <a id="icon-profile-desktop" class="margin-footer transparent btn-large waves-effect waves-light hoverable z-depth-0" href=" <%= new_user_session_path %> ">
      <i class="fas fa-user"></i>
      Profile
    </a>
  </div>
</div>
