<!DOCTYPE html>
<html class="flow-text">
  <head>
    <title>HomzDirect</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "nav" %>
    </header>
    <main class="container">
      <%= yield %>
    </main>
    <footer class="page-footer card-panel blue darken-4 white-text center">
      <%= render "footer" %>
    </footer>
  </body>
</html>
