<!DOCTYPE html>
<html class="flow-text">
  <head>
    <title>HomzDirect</title>
    <%= csrf_meta_tags %>
    <!--Let browser know website is optimized for mobile-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url"           content="https://hidden-brook-71610.herokuapp.com/feed" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Homs Direct" />
    <meta property="og:description"   content="Real Estate" />
    <meta property="og:image"         content='https://hidden-brook-71610.herokuapp.com/pictures/ <% @picture.id %>'> -->


    <!-- Import Stylesheets -->
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Import Javascript -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%= render "current_user_id" %>
    <header>
      <%= render "header" %>
    </header>
    <main class="container">
      <%= yield %>
    </main>
    <footer class="page-footer blue white-text center">
      <%= render "footer" %>
    </footer>
  </body>
</html>
