<h2>HomzDirect</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= render "users/shared/links" %><br>

  <em>Or</em><br>

  <div class="field">
    <%#= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password: #{@minimum_password_length} characters minimum"  %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation" %>
  </div>


  <div class="field">
    <%#= f.label "Zip Code" %><br />
    <%= f.text_field :location, id: :user_location, placeholder: "Zip Code" %>
  </div><br>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>
